<br>

<!-- <div class="row">

<div class="col-md-3">
 

  <div class="w3-card-12" >
    <header class="w3-container">
      <h1 class="bg-success">Miami - NYC</h1>
    </header>

    <div class="w3-container">
      <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
    </div>

    <footer class="w3-container ">
      <a href="#/newAd">
        <button type="submit" class="btn btn-success" ng-click="">Click here to contact</button>
      </a>
    </footer><br>
  </div>
</div>

<div class="col-md-3">
 

  <div class="w3-card-12">
    <header class="w3-container">
      <h1 class="bg-warning">Atlanta - SFO</h1>
    </header>

    <div class="w3-container">
      <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
    </div>

    <footer class="w3-container ">
      <a href="#/newAd">
        <button type="submit" class="btn btn-success" ng-click="">Click here to contact</button>
      </a>
    </footer><br>
  </div>
</div>

<div class="col-md-3">
 

  <div class="w3-card-12" >
    <header class="w3-container">
      <h1 class="bg-danger">SFO - Atlanta</h1>
    </header>

    <div class="w3-container">
      <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
    </div>

    <footer class="w3-container ">
      <a href="#/newAd">
        <button type="submit" class="btn btn-success" ng-click="">Click here to contact</button>
      </a>
    </footer><br>
  </div>
</div>

<div class="col-md-3">
 

  <div class="w3-card-12">
    <header class="w3-container">
      <h1 class="bg-warning">NYC - Chicago</h1>
    </header>

    <div class="w3-container">
      <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
    </div>

    <footer class="w3-container ">
      <a href="#/newAd">
        <button type="submit" class="btn btn-success" ng-click="">Click here to contact</button>
      </a>
    </footer><br>
  </div>
</div>



</div></div>

<br>
<div class="row">

<div class="col-md-3">
 

  <div class="w3-card-12" >
    <header class="w3-container">
      <h1>NH - NYC</h1>
    </header>

    <div class="w3-container">
      <p>Departure:09/14/2016 4pm</p>
      <p>RideShare Price: $25</p>
      <p>Vehice: Honda Accord 2015</p>
      <p>Gender: Male</p>
      <p>Space For Luggage: Yes</p>
      <p>Smoking Allowed: No</p>
    </div>

    <footer class="w3-container ">
      <a href="#/newAd">
        <button type="submit" class="btn btn-success" ng-click="">Click here to contact</button>
      </a>
    </footer><br>
  </div>
</div>

<div class="col-md-3">
 

  <div class="w3-card-12">
    <header class="w3-container">
      <h1>Boston - SFO</h1>
    </header>

    <div class="w3-container">
      <p>Departure:09/14/2016 4pm</p>
      <p>RideShare Price: $25</p>
      <p>Vehice: Honda Accord 2015</p>
      <p>Gender: Male</p>
      <p>Space For Luggage: Yes</p>
      <p>Smoking Allowed: No</p>
    </div>

    <footer class="w3-container ">
      <a href="#/newAd">
        <button type="submit" class="btn btn-success" ng-click="">Click here to contact</button>
      </a>
    </footer><br>
  </div>
</div>

<div class="col-md-3">
 

  <div class="w3-card-12" >
    <header class="w3-container">
      <h1>SFO - Atlanta</h1>
    </header>

    <div class="w3-container">
      <p>Departure:09/14/2016 4pm</p>
      <p>RideShare Price: $25</p>
      <p>Vehice: Honda Accord 2015</p>
      <p>Gender: Male</p>
      <p>Space For Luggage: Yes</p>
      <p>Smoking Allowed: No</p>
    </div>

    <footer class="w3-container ">
      <a href="#/newAd">
        <button type="submit" class="btn btn-success" ng-click="">Click here to contact</button>
      </a>
    </footer><br>
  </div>
</div>

<div class="col-md-3">
 

  <div class="w3-card-12">
    <header class="w3-container">
      <h1>NYC - SEA</h1>
    </header>

    <div class="w3-container">
      <p>Departure:09/14/2016 4pm</p>
      <p>RideShare Price: $25</p>
      <p>Vehice: Honda Accord 2015</p>
      <p>Gender: Male</p>
      <p>Space For Luggage: Yes</p>
      <p>Smoking Allowed: No</p>
    </div>

    <footer class="w3-container ">
      <a href="#/newAd">
        <button type="submit" class="btn btn-success" ng-click="">Click here to contact</button>
      </a>
    </footer><br>
  </div>
</div>



</div> -->


<div class="container">
  <div class="flex-row row">


    <div class="col-xs-6 col-sm-4 col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>St.Louis - NYC</h2>
          <p class="flex-text text-muted">
          <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
          </p>
          <p><a class="btn btn-success" href="#">Link</a></p>
        </div>
        <!-- /.caption -->
      </div>
      <!-- /.thumbnail -->
    </div>


    <div class="col-xs-6 col-sm-4 col-lg-3">
      <div class="thumbnail ">
        <div class="caption">
          <h3>Atlanta - SFO</h2>
          <p class="flex-text text-muted">
            <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
          </p>
          <p>
            <a class="btn btn-success" href="#">Link</a>
          </p>
        </div>
        <!-- /.caption -->
      </div>
      <!-- /.thumbnail -->
    </div>


    <div class="col-xs-6 col-sm-4 col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>SFO - Atlanta</h2>
          <p class="flex-text text-muted">
          <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
          </p>
          <p>
            <a class="btn btn-success" href="#">Link</a>
          </p>
        </div>
        <!-- /.caption -->
      </div>
      <!-- /.thumbnail -->
    </div>


    <div class="col-xs-6 col-sm-4 col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Boston - Chicago</h2>
          <p class="flex-text text-muted">
          <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
          </p>
          <p><a class="btn btn-success" href="#">Link</a></p>
        </div>
        <!-- /.caption -->
      </div>
      <!-- /.thumbnail -->
    </div>


    <div class="col-xs-6 col-sm-4 col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Michigan - Ohio</h2>
          <p class="flex-text text-muted">
            <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
          </p>
          <p>
            <a class="btn btn-success" href="#">Link</a>
          </p>
        </div>
        <!-- /.caption -->
      </div>
      <!-- /.thumbnail -->
    </div>


    <div class="col-xs-6 col-sm-4 col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>St.Louis - Atlanta</h2>
          <p class="flex-text text-muted">
            <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
          </p>
          <p>
            <a class="btn btn-success" href="#">Link</a>
          </p>
        </div>
        <!-- /.caption -->
      </div>
      <!-- /.thumbnail -->
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Las Vegas - Texas</h2>
          <p class="flex-text text-muted">
            <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
          </p>
          <p>
            <a class="btn btn-success" href="#">Link</a>
          </p>
        </div>
        <!-- /.caption -->
      </div>
      <!-- /.thumbnail -->
    </div>


    <div class="col-xs-6 col-sm-4 col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Florida - New Jersey</h2>
          <p class="flex-text text-muted">
            <p><strong>Departure</strong> 09/14/2016 4pm</p>
      <p><strong>RideShare Price</strong> $25</p>
      <p><strong>Vehice</strong> Honda Accord 2015</p>
      <p><strong>Gender</strong> Male</p>
      <p><strong>Space For Luggage</strong> Yes</p>
      <p><strong>Smoking Allowed</strong> No</p>
          </p>
          <p>
            <a class="btn btn-success" href="#">Link</a>
          </p>
        </div>
        <!-- /.caption -->
      </div>
      <!-- /.thumbnail -->
    </div>


  </div>
  <!-- /.flex-row  -->
</div>
<!-- /.container  -->





























<!-- <div class = "row">
  <div class="col-md-6">
    <h3>
    <b> Recent Trip Posts</b>
    </h3>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="container">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="ad in ads | orderBy:'createdDate'" style="cursor:pointer">
        <td>
        <a ng-href="#/ads/{{ad._id}}">{{ ad.title }}</a>
        </td>
        <td>
          {{ ad.fromLocation }}  
        </td>
        <td>
          {{ ad.toLocation }}  
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

 <!-- <div class="jumbotron text-center">
      <form class="navbar-form navbar-center">
       <div class="form-group">
          </div>
            <div class="form-group">
               <input id="textinput" class="form-control"  name="" placeholder="Trip From                 ">
            </div>
            <div class="form-group">
              <input id="textinput" class="form-control"  name="" placeholder="Trip To">
            </div>
            <a ui-sref="viewAll">
            <button type="submit" class="btn btn-success">Search</button>
            </a>
      </form>
    </div>


 <h3><b>Recent Trips</b></h3><br>
    <div class="row">
      <div class="col-sm-6 bootcards-list">

      <div class="panel panel-default">
    <div class="panel-body">
      <form>
        <div class="row">
          <div class="col-xs-9">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Trips...">
              <i class="fa fa-search"></i>
            </div>
          </div>
          <div class="col-xs-3">
            <a class="btn btn-success btn-block" href="#">
              <i class="fa fa-plus"></i>
              Add
            </a>
          </div>
        </div>
      </form>
    </div>

    <div class="list-group">
  <div ng-repeat="ad in ads | orderBy:'createdDate'" style="cursor:pointer">
  <a class="list-group-item" ng-click="showAdDetails"; >

    <div class="row">
      <div class="col-sm-6">
        <i class="fa fa-1x fa-car pull-left"></i>
        <h4 class="list-group-item-heading">{{ad.fromLocation}} <i class="fa fa-caret-right" aria-hidden="true"></i> {{ad.toLocation}}</h4>
        <p class="list-group-item-text">{{ad.startDate | date:'short'}} </p>
      </div>
      <div class="col-sm-6">
        <p class="list-group-item-text">Price: ${{ad.startPrice}}</p>
        <p class="list-group-item-text">{{ad.seatsAvailble}} Seats Available</p>
        <p class="list-group-item-text">Vehicle: {{ad.vehicle}}</p>
      </div>
    </div>

  </a>
  </div>

</div>

  </div>
   
      </div>
 
      <div class="col-sm-6 bootcards-cards">
       <div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Atlanta <i class="fa fa-caret-right" aria-hidden="true"></i> St. Louis</h3>
      <a class="btn btn-success pull-right" href="#">
        <i class="fa fa-phone-square"></i>
        Contact me
      </a>
  </div>
  <div class="panel-body">
    <p>More Details</p>
  </div>
  <div class="panel-footer">
    <small><span>Smoking</span>&nbsp;&nbsp;&nbsp;<span>Music</span>&nbsp;&nbsp;&nbsp;<span>Luggage Allowed</span>&nbsp;&nbsp;&nbsp;<span>Telugu</span></small> 
  </div>
</div></div>
        -->