 <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend text="center">Post A New Trip</legend>

<!-- Text input-->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Trip Title</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text"  ng-model="ad.title" placeholder="Trip Title" class="form-control input-md" >
    
  </div>
</div> -->

<!-- Textarea -->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="">Description</label>
  <div class="col-md-5">                     
    <textarea class="form-control" id="" name="" placeholder="My name is rohit and i'm travelling to California to meet a friend for this long weekend ..."></textarea>
  </div>
</div> -->

<div class="form-group">
  <label class="col-md-4 control-label" for="">Trip From</label>
  <div class="col-md-5">                     
     <input auto-complete ui-items="cities_list" ng-model="ad.fromCity"  class="form-control"  ng-change="onFromCityChange(ad.fromCity)">
  </div>
</div>



<div class="form-group">
  <label class="col-md-4 control-label" for="">Trip To</label>
  <div class="col-md-5">                     
     <input auto-complete ui-items="cities_list" ng-model="ad.toCity"  class="form-control"  ng-change="onToCityChange(ad.toCity)">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="">Start Date</label>
  <div class="col-md-5">                     
    <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" ng-model="ad.startDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="selectmultiple">How do you want to split the trip?</label>
  <div class="col-md-4">
    <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple" ng-model="ad.splitArray">
      <option value="1">Price</option>
      <option value="2">Fuel</option>
      <option value="3">Food</option>
      <option value="6">Driving</option>
      <option value="5">None</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Start Trip Price</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Price" class="form-control input-md"  ng-model="ad.startPrice">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Round Trip</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="radios" id="radios-0" value=true  ng-model="ad.isRoundTrip">
      Yes
    </label> 
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="radios" id="radios-1" value=false ng-model="ad.isRoundTrip">
      No
    </label> 
  </div>
</div>

<div class="form-group" ng-show=ad.isRoundTrip>
  <label class="col-md-4 control-label" for="">End Date</label>
  <div class="col-md-5">                     
    <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" ng-model="ad.endDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
  </div>
</div>

<div class="form-group" ng-show=ad.isRoundTrip>
  <label class="col-md-4 control-label" for="textinput">Return Trip Price</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Price" ng-model="ad.returnTripPrice" class="form-control input-md" >
    
  </div>
</div>




<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Seats Available</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" ng-model="ad.seatsAvailble" placeholder="Number of seats available" class="form-control input-md" >
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Vehicle</label>  
  <div class="col-md-5">
  <input auto-complete ui-items="cars_make" ng-model="ad.vehicle"  class="form-control"  ng-change="onVehiceChange(ad.vehicle)">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Vehicle Model</label>  
  <div class="col-md-5">
  <select  ng-model="ad.vehicleModel" class="form-control input-md" >
      <option ng-repeat="model in cars_models" value="{{model}}">{{model}}</option>
  </select>
  <!-- <input auto-complete ui-items="cars_models" ng-model="ad.vehicleModel"  class="form-control"> -->
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Space for Luggage</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="radios-0" ng-model="ad.spaceForLuggage">
      <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
      Yes
    </label> 
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="2">
      No
    </label> 
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Smoking Allowed</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="radios-0" ng-model="ad.smoking">
      <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
      Yes
    </label> 
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="2">
      No
    </label> 
  </div>
</div>


<hr>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Name</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" ng-model="ad.contact.name" placeholder="" class="form-control input-md" >
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Email</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" ng-model="ad.contact.email" placeholder="" class="form-control input-md" >
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Phone Number</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" ng-model="ad.contact.phone" placeholder="" class="form-control input-md" >
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Gender</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="1" checked="checked" ng-model="ad.contact.gender">
      Male
    </label> 
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="2">
      Female
    </label> 
  </div>
</div>

<!-- File Button --> 
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Upload Images</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div> -->


<!-- Button (Double) -->
<div class="form-group">
<label class="col-md-4 control-label"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-default" ng-click="saveAd(ad)">Save</button>
    <button id="button2id" name="button2id" class="btn btn-default" ng-click="back()">Cancel</button>
  </div>
</div>
</fieldset>
</form>
